/* 
.container_col1 input {
    display: grid;
    grid-column-start: 1;
        grid-column-end: 2;
        grid-template-rows: 3fr 3fr;
        border: 1px solid black;
        margin-left: 100px 
    } */
/* //select field


const EducationError=document.getElementById("EducationError");


EducationError.innerHTML="";

if (higherEducationValue==="") {
    const warningIcon=document.createElement("i");
    warningIcon.className="fa-solid fa-triangle-exclamation";
    warningIcon.style.marginRight="8px";
    EducationError.innerHTML="Invalid password";
    EducationError.style.color="red";
    higherEducation.parentElement.appendChild(warningIcon); } */